nav li
{
   display: inline;
   margin-top: 10px;
}

a
{
    color: black;
    text-decoration: none;
}

header
{ 
padding-top: 0;
height: 100px;
width: 100%;
}

.heading{
  font-family: 'Abel',serif;
}

h1
{
    font-size: 50px;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    color: black;
}

nav li a:hover 
{
    background-color: white;own;
}

.hleft{
float: left;
margin-left: 5px;
}

.hright{
  float: right;
  margin-top: 40px;
  margin-right: 10px;
}

.container_12
{
    background-color: rgb(32,32,32);
    color: white;
    width:100%;
}

.left{
  float:left;
  color: black;
  font-family: 'Abel',serif;
  margin-top: 20px;
  margin-left: 5px;
}

.center{
  margin-left:600px;
  color: black;
  font-family: 'Abel',serif;
}

.right{
  float:right;
  color: black;
  margin-right: 10px;
  margin-bottom: 20px;
  font-family: 'Abel',serif;
}


.left2{
  float:left;
}

.right2{
  float:right;
}

.center2{
  margin-left:160px;
}
 

 .trav
{
width:1286px;height:450px;

}


.link1{
  color: blue;
  font-size:60px;
}

.link2{
  color: blue;
  font-size:60px;
}

.link3{
  color: red;
  font-size:60px;
}

.link4{
  color:pink;
  font-size:60px;
}

.footer{
    border: 1px solid black;
    background-color:PaleGoldenRod ;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 300px;
    padding-right: 250px;
    margin-left: 250px;
    height: 60px;
  }
 
 .foot{

 background-color:BurlyWood ;

 }