.container_12
{
    background-color: grey;
    color: white;
}
nav li
{
   padding-left: 30px;
   display: inline;
   padding-top: 20px;
   padding-bottom: 20px;
}
a
{
    color: white;
    text-decoration: none;
}
header
{
padding-top: 0;
height: 20px;
width: 100%;
}


h1
{
    font-size: 50px;
    margin-top: 2px;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
    color: white;
}

nav
{

   padding-top: 0;
   padding-bottom: 0;
   padding-left:350px;

}



nav li a:hover 
{
    background-color: #111;own;
}


.trav
{
width:1286px;height:450px;

}
.left{
	float:left;
}
.center{
	margin-left:550px;
}



.right{
	float:right;
}

.push_4{
	color: black;
}
.link1{
	color: blue;
}
.link2{
	color: blue;
}

.link3{
	color: red;
}



.footer{
		border: 1px solid black;
		background-color: #9ad6e3;
		padding-bottom: 3px;
		padding-top: 2px;
		padding-left: 300px;
		padding-right: 250px;
		margin-left: 300px;
	}





/* The hero image */
.hero-image {
    /* The image used */
    background-image: url(../image/world.jpg);

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}




